<!DOCTYPE html>
<html lang="pt-br" ng-app="questDB">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>questDB - Banco de questões de provas</title>
        <link rel="stylesheet" type="text/css" href="../../styles/libs/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../../styles/questdb.styles/site.css">
        <link rel="stylesheet" type="text/css" href="../../styles/questdb.styles/loading.css">
        <script src="../../scripts/libs/angular.js"></script>
        <script src="../../scripts/libs/angular-cookies.js"></script>
        <script src="../../scripts/libs/angular-route.js"></script>
        <script src="../../scripts/libs/angular-touch.js"></script>
        <script src="../../scripts/libs/jquery-1.10.2.js"></script>
        <script src="../../scripts/libs/modernizr-2.6.2.js"></script>
        <script src="../../scripts/libs/bootstrap.js"></script>
        <script src="../../scripts/libs/respond.js"></script>
        <script src="../../scripts/libs/angucomplete-alt.min.js"></script>

        <script src="../../scripts/base/main.js"></script>
        <script src="../../scripts/controllers/login/loginController.js"></script>
    </head>

    <body>
        <div class="container" ng-cloak>
            <ng-view></ng-view>
        </div>
    </body>

</html>