<!DOCTYPE html>
<html lang="pt-br" ng-app="questDB">
    <head>
        <meta charset="UTF-8" />
        <base href="/">
        <meta name="viewport" content="width=device-width" />
        <title>questDB - Banco de questões de provas</title>
        <link rel="stylesheet" type="text/css" href="QuestDB.Interface/styles/libs/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="QuestDB.Interface/styles/questdb.styles/site.css">
        <link rel="stylesheet" type="text/css" href="QuestDB.Interface/styles/questdb.styles/loading.css">
        <script src="QuestDB.Interface/scripts/libs/angular.js"></script>
        <script src="QuestDB.Interface/scripts/libs/angular-cookies.js"></script>
        <script src="QuestDB.Interface/scripts/libs/angular-route.js"></script>
        <script src="QuestDB.Interface/scripts/libs/angular-touch.js"></script>
        <script src="QuestDB.Interface/scripts/libs/angular-resource.js"></script>
        <script src="QuestDB.Interface/scripts/libs/jquery-1.10.2.js"></script>
        <script src="QuestDB.Interface/scripts/libs/modernizr-2.6.2.js"></script>
        <script src="QuestDB.Interface/scripts/libs/bootstrap.js"></script>
        <script src="QuestDB.Interface/scripts/libs/respond.js"></script>
        <script src="QuestDB.Interface/scripts/libs/angucomplete-alt.min.js"></script>
        <script defer src="QuestDB.Interface/scripts/libs/fontawesome-all.js"></script>

        <script src="QuestDB.Interface/scripts/base/main.js"></script>
        <script src="QuestDB.Interface/scripts/services/baseService.js"></script>
        <script src="QuestDB.Interface/scripts/services/userService.js"></script>
        <script src="QuestDB.Interface/scripts/services/loginService.js"></script>
        <script src="QuestDB.Interface/scripts/controllers/login/loginController.js"></script>
        <script src="QuestDB.Interface/scripts/controllers/register/registerController.js"></script>
        <script src="QuestDB.Interface/scripts/controllers/registerDone/registerDoneController.js"></script>
        <script src="QuestDB.Interface/scripts/controllers/home/homeController.js"></script>
        <script src="QuestDB.Interface/scripts/controllers/question/questionController.js"></script>
        <script src="QuestDB.Interface/scripts/base/routes.js"></script>
    </head>

    <body>
        <div class="container" ng-cloak>
            <ng-view></ng-view>
        </div>
    </body>

</html>