<div ng-show="!ready" class="container">
        <div class="row">
            <div id="loading" style="z-index:500">
                <ul class="bokeh">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
<div ng-cloak class="row">
    <div align="center" class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-centered">
        <form class="login-dp">
            <div ng-show="ready" class="col-md-12 col-sm-12 col-lg-12 espacado">
                <button title="Sair" ng-click="logout()" type="button" class="pull-right btn btn-primary btn-circle btn">
                    <i class="glyphicon glyphicon-log-out pull-right"></i>
                </button>
                <h4>Olá {{user.user}}</h4>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div ng-show="questions.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Abaixo estão todas as questões cadastradas:
                    </div>
                    <div ng-show="!questions.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="fonte-login-incorreto">Não há questões cadastradas</label>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <div ng-show="questions.length" class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table ng-table="tableParams" class="table" show-filter="true">
                            <tr ng-repeat="question in $data">
                                <td title="'Título'" filter="{ title: 'text'}" sortable="'title'">
                                    {{question.title}}</td>
                                <td title="'Tipo'" filter="{ questionTypeDescription: 'text'}" sortable="'questionTypeId'">
                                    {{question.questionTypeDescription}}</td>
                                <td title="'Criado por'" filter="{ user: 'text'}" sortable="'user'">
                                    {{question.user}} ( {{question.emailUser}} )</td>
                                <td title="'Visualizar'">
                                    <a ng-href="/question/{{question._id}}" class="btn btn-primary btn-sm pull-right">
                                        <span class="glyphicon glyphicon-eye-open">
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                <h4>crie suas questões abaixo</h3>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-centered espaco-baixo">
                    <a href="/question/new" class="btn icon-btn btn-success">
                        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success">
                        </span>
                        Questão
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>